<p style="color: green"><%= notice %></p>

<h1 class="articles">Articles</h1>

<div class="div-articles">
  <div class="title-author">
    <p>Title</p>
    <p>Author</p>
  </div>
  
  <div class="show-articles">
    <% @articles.each do |article| %>
      <%= link_to article do %>
        <%= render article %>
      <% end %>
    <% end %>
  </div>
</div>

<div>
  <p><%= link_to "Create New article", new_article_path, class: "new" %></p>
</div>
