<div class="welcome-page">
  <h1 class="welcome">Welcome!</h1>

  <div class="button">
    <button class="btn">
    <%= link_to "Articles", articles_url, class: "btn-link" %>
    </button>
    
    <button class="btn">
    <%= link_to "Movies", movies_url, class: "btn-link" %>
    </button>
  </div>
</div>

