.article {
  /* background-color: green; */
  /* color: #fff; */
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.author_title {
  margin-left: 5.7rem;
}
